.profile {
  font-size: 34px;
  margin-left: 25%;
}
.nav {
  font-size: 34px;
  margin-left: 25%;
}
.menu {
  display: flex;
  max-width: 960px;
}
.main {
  margin: 0 auto 0 auto;
  height: 400px;
  width: 100%;
  max-width: 960px;
}
/*文字*/
h1 {
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 34px;
  text-align: center;
}
ul {
  font-size: 18px;
}
p {
  font-size: 18px;
  text-align: center;
}
.about {
  width: 100%;
}

.aboutpng {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.abouting {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
}

/*work*/
.work {
  margin: 80px auto 80px auto;
  width: 100%;
}
.working {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work1 {
  margin: auto;
  max-width: 25%;
}

body {
  max-width: 960px;
}
