.profile {
  font-size: 34px;
  margin-left: 25%;
}
.nav {
  font-size: 34px;
  margin-left: 25%;
}
.menu {
  display: flex;
  flex-wrap: wrap;
}
.main {
  margin: 0 auto 0 auto;
  height: 400px;
  width: 100%;
}
/*文字*/
h1 {
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 34px;
  text-align: center;
}
ul {
  font-size: 18px;
}
p {
  font-size: 18px;
  text-align: center;
}
.about {
  width: 100%;
  flex-wrap: wrap;
}

.aboutpng {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.abouting {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*work*/
.work {
}

.working {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.flexbox {
  display: flex;
}
.work1 {
  width: 500px;
  max-width: 25%;
  margin: 0 20px;
}

.working img {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.work2 {
  width: 500px;
  max-width: 25%;
  margin: 0 20px;
}
.work3 {
  width: 500px;
  max-width: 25%;
  margin: 0 20px;
}
@media screen and (max-width: 767px) {
  .flexbox {
    display: block;
  }
  .flexbox.work1 {
    width: 100%;
    text-align: center;
  }
  .flexbox.work2 {
    width: 100%;
    text-align: center;
  }
  .flexbox.work3 {
    width: 100%;
    text-align: center;
  }
}
